html {
  width: 100vw;
}

a {
  color: black;
}
h1 {
  font-size: 5em;
  margin: auto;
}

h2 {
  font-size: 1.5em;
  line-height: 1.75em;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header-text {
  color: white;
  margin: auto;
  text-align: center;
  padding: 10px;
}
.purple-blue {
  height: 70vh;
  background: linear-gradient(90deg, rgb(109, 77, 159), rgb(0, 191, 217));
  display: flex;
}
.meantime {
  max-width: 70%;
  text-align: center;
  margin: auto;
}
.footer {
  background: #d3d2d2;
  text-align: right;
  height: 80px;
  display: flex;
}
.footer-text {
  font-size: 0.8em;
  margin: auto;
  color: black;
}
.meantime ion-icon {
  font-size: 3em;
  padding: 20px 30px;
}
.meantime ion-icon:hover {
  color: rgb(109, 77, 159);
}
